{% extends "base.html" %}

{% block content %}
<h2>Login</h2>
<form id="login-form" class="row g-3" method="post">
    {% csrf_token %}
    <div class="col-md-12">
        <input type="text" class="form-control" id="username" name="username" required="" placeholder="Username">
    </div>
    <div class="col-md-12">
        <input type="password" class="form-control" id="password" name="password" required="" placeholder="Password">
    </div>
    <div class="col-12">
        <button :disabled="isSubmitting" id="submit_btn" class="btn w-100 btn-primary" type="submit">Login</button>
    </div>
</form>

{% endblock %}